/public/robots.txt
/node_modules
/public/storage
/public/css/app.css
/public/js/app.js
/public/js/app.js.map
/public/mix-manifest.json

/vendor
/.idea
_ide_helper.php
.phpstorm.meta.php
Homestead.json
Homestead.yaml
.env
/public/.sass-cache
/fabfile.pyc

/storage/debugbar/
