.ais-index {
    .ais-input {
        @apply inline-block px-4 py-2 mr-2;
    }

    .ais-clear {
        display: none;
    }

    .ais-results {
        text-align: left;
        a {
            display: block;
            padding: 0.5rem 1rem;
            &:first-child {
                padding-top: 1rem;
            }
            &:last-child {
                padding-bottom: 1rem;
            }

            &.active, a:hover {
                @apply bg-gray-100;
            }
        }
    }

    .ais-pagination {
        display: none;
    }
}